@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "tailwindcss";

/* Global font */
* {
  font-family: 'Outfit', sans-serif;
}

/* Custom CSS variables */
:root {
  --color-primary: #4fbf8b;
  --color-primary-dull: #44ae7c;
  /* --color-accent: #3b82f6;
  --color-background: #f9fafb;
  --color-text: #111827; */
}
